<h1>WELCOME WELCOME WELCOME</h1>
<p>
  <a href="/login" role="button" class="btn btn-default btn-lg">Login</a>
  <a href="/users/new" role="button" class="btn btn-default btn-lg">Create an Account</a>
</p>
